:root {
    --green: #89C331;
    --deeppink: #F04A56;
    --teal: #20807C;
    --darkgray: #484848;
    --darkblue: #3A4965;
    --silver: #E3E3E3;
    --lightgray: #F2F2F2;
}

* {
    font-family: 'Arimo', sans-serif;
}

.table1 {
    margin: 0 auto;
    margin-top: 50px;
    width: 1195px;
    border: 25px solid var(--darkblue);
    text-align: center;
    background-color: #FAFAFA;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--darkgray);
}

.cell-title {
    width: 310px;
    height: 159px;
}

.table1-title1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--darkgray);
}

.table1-title2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--darkgray);
}

.thead-row1 {
    height: 73px;
}

.thead-row2 {
    padding-top: 7px;
}

.table1-plan {
    width: 280px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFF;
}

.th-standard {
    background-color: var(--green);
}

.th-ultimate {
    background-color: var(--deeppink);
    font-size: 30px;
}

.th-premium {
    background-color: var(--teal);
}

.table1 tbody tr td, .table1 thead tr th {
    border-right: 1px solid #c7c7c7;
}

.price {
    position: relative;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: var(--darkgray);
}

.price::before {
    position: absolute;
    top: -10px;
    left: 140px;
    content: ".99";
    font-size: 24px;
    line-height: 28px;
}

.period {
    position: relative;
    bottom: 17px;
    left: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--darkgray);
}

.table1 tbody tr:nth-child(even) {
    height: 72px;
    background-color: var(--silver);
}

.table1 tbody tr:nth-child(odd) {
    height: 72px;
    background-color: var(--lightgray);
}

.table1-icon {
    margin-right: 5px;
}

.table1 tbody tr.table1-btn-row {
    height: 110px;
}

.table1-btn-cell {
    text-align: center;
}

.btn {
    position: relative;
    width: 192px;
    height: 52px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFF;
    transition: opacity .3s ease-in;
}

.btn:hover {
    opacity: .6;
}

.btn::after {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 9px;
    border-radius: 0px 0px 5px 5px;
}

.btn-black {
    background-color: var(--darkgray);
}

.btn-black::after {
background-color: #404040;
}

.btn-green {
    background-color: var(--green);
}

.btn-green::after {
    background-color: #79B027;;
}

.btn-deeppink {
    background-color: var(--deeppink);
}

.btn-deeppink::after {
    background-color: #DF3A46;;
}

.btn-teal {
    background-color: var(--teal);
}

.btn-teal::after {
    background-color: #16736F;;
}

.table2 {
    margin: 50px auto;
    width: 1195px;
    border: 25px solid var(--darkblue);
    text-align: center;
    background-color: var(--lightgray);
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--darkgray);
}

.table2-title1 {
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: var(--darkgray);
}

.table2-title2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--darkgray);
}

.table2-icon {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.table2-thead tr th{
    height: 102px;
    border-bottom: 10px solid var(--darkblue);
}

.table2 td:nth-child(even), .table2 th:nth-child(even) {
    width: 160px;
    background-color: var(--silver);
}

.table2 td:nth-child(odd), .table2 th:nth-child(odd) {
    width: 160px;
}

.table2-plan {
    height: 167px;
    padding: 21px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
}

.table2-th-standard {
    background-color: var(--green);
}

.table2-th-ultimate {
    background-color: var(--deeppink);
}

.table2-th-premium {
    background-color: var(--teal);
}

.table2-price {
    margin-top: 10px;
    position: relative;
    font-weight: 700;
    font-size: 36px;
    line-height: 35px;
    text-align-last: left;
}

.table2-price::before {
    position: absolute;
    top: -4px;
    left: 42px;
    content: ".99";
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}

.table2-period {
    position: relative;
    top: -7px;
    left: 35px;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    color: #fff;
}

.table2-btn {
    margin-top: 10px;
}

.table2 tbody tr td {
    border-bottom: 1px solid #c7c7c7;
}